button.relative:hover span.absolute {
  transform: translateX(0);
}
button.relative span.absolute {
  transition: transform 0.3s ease-in-out;
}
button.relative span.z-10 {
  position: relative;
}

/* Timer Styles */
  .time-box {
    @apply bg-gray-100 rounded-xl w-16 h-16 md:w-20 md:h-20 flex items-center justify-center shadow-inner;
  }

  .time-box span {
    @apply text-2xl md:text-3xl font-bold text-[#1D3C4A];
    transition: transform 0.25s ease, opacity 0.25s ease;
  }

  .time-separator {
    @apply text-2xl md:text-3xl font-bold text-gray-700;
  }

  .tick {
    transform: translateY(-6px);
    opacity: 0.6;
  }

/* Scrollbar Hide */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/*photoframe scrollbar hide*/
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, Edge */
  }
  .hide-scrollbar {
    -ms-overflow-style: none; /* for IE and Edge */
    scrollbar-width: none; /* for Firefox */
  }